* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background-color:pink;
}

.square {
  height: 110px;
  width: 110px;
  background: #fff;
  border: 1px solid blueviolet;
  font-size: 32px;
  color: blue;
  font-weight: bolder;
  float: left;
  margin-bottom: 10px;
  margin-left:10px;
}

.square:hover {
  cursor: pointer;
  background: yellowgreen;
}

.game {
  display: flex;
}

.game-board {
  margin:200px;
}

h1 {
  text-align: center;
  color:blue;
  font-family: 'sans-serif';
}
.game-info {
  margin-top: 30px;
}
.status {
  font-size: 20px;
  font-weight: bold;
  color:green;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 20px;
}

.history {
  padding: 10px 20px;
  
}
.history button {
  padding: 3px;
  color:purple;
  font-size: 20px;
  border-radius: 5px;
}
.history li {
  padding: 3px;
}

